**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

.ios-tags
Runner/*.xcodeproj/project.xcworkspace/
Runner/*.xcodeproj/xcuserdata/
Runner/*.xcworkspace/xcuserdata/
Runner/*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Runner/Info.plist.flutter
Runner/project.pbxproj.bak
IDEWorkspaceChecks.plist

Runner.xcworkspace/xcuserdata/
Runner.xcodeproj/xcuserdata/
Runner.xcodeproj/project.xcworkspace/xcuserdata/

# icons
Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-*.png
Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-*.jpg
Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small-*.png
Runner/Assets.xcassets/AppIcon.appiconset/Icon-Small-*.jpg

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
